@{ 
    ViewData["Title"] = "About";
}

<div class="row mt-5">
    <div class="col-sm-12 col-md-8">
        <h1>About</h1>
        <p>My name is Peter Steele and I started this company in order to provide services to local businesses that might not otherwise have local access. Everything from Web design to Software development, I wanted a local company that could offer competitve services and help businesses grow. </p>
        <p>My mission started in 2018, upong moving down to Traverse City from the Upper Peninsula. I was a free lance developer up there, and decided to take it to the next level by getting my LLC and moving towards creating a full time job from this line of work. While I am still in school, I enjoy helping where I can, with my 12 years of experience, and providing the services that are needed most.</p>
        <p>My goal for this company is to grow to a point that I can start hiring local talent and providing jobs and experience in a field that is growing fast in Traverse City. I want to give back to the community that has given so much to me, and what better way than to retain local talent and help the area businesses grow!</p>
        <p>I am a father of 2, happily married, and lover of all things outdoors. Growing up in Central Florida, near the space coast, gave me an appreciation for nature that will never go away. I am a big nerd and enjoy the occasional game as well. When I am not working, I am spending time with my family and going on as many adventures as I can!</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <h1>Peter Steele</h1>
        <img src="~/img/24173845_533555653646715_3898918639392324795_o.jpg" alt="Peter Steele" class="img-fluid" />
    </div>
</div>